@model IEnumerable<pomodoro.Models.DTO.Affirmation>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card">
        <div class="card-body"> 
            <div>
                <button class="button-selected" id="pomodoroBtn" onclick="setTimer('pomodoro')">Pomodoro</button>
                <button class="button-unselected" id="shortBreakBtn" onclick="setTimer('short')">Short Break</button>
                <button class="button-unselected" id="longBreakBtn" onclick="setTimer('long')">Long Break</button>
            </div>
            <div>
                <timer id="timerDisplay">25:00</timer>
                <audio id="timerSound" src="~/js/notification.wav" preload="auto"></audio>
            </div>
            <button class="start-button" id="start-button">Start</button>
        </div>
    </div>
</div>
<br/>
<div>
    <div class="row text-center">
        <div class="col text-center d-flex justify-content-center align-items-center">
            @* <button class="button-counter btn-sm" id="decrease-btn" onclick="pomoCounter('decrease')">-</button> *@
            <button class="btn btn-secondary btn-sm" id="decrease-btn" onclick="pomoCounter('decrease')">-</button>

            <h6 id="pomo-counter" class="mx-2">#1</h6>
            <button class="btn btn-secondary btn-sm" id="increase-btn" onclick="pomoCounter('increase')">+</button>
        </div>
    </div>

    
    <h3>Tasks:</h3>
    <div class="row">
        @* <div class="col-8">
            <input type="text" class="form-control" placeholder="New Task" />
        </div>
        <div class="col">
            <input class="form-control button-unselected" type="submit" value="Add" />
        </div> *@
        <div class="col">
            <form id="search-bar" class="d-flex pb-5" role="search">
                <input id="searchQuery" class="form-control" type="search" name="task" placeholder="New Task" aria-label="Task">

                <button id="search-btn" class="button-selected" type="submit">Add</button>
            </form>
        </div>
        <div class="col text-center">
            @if (Model.Any())
            {
                <h5>Affirmations</h5>
                @foreach (var affirmation in Model)
                {
                    <p>#@affirmation.Id - @affirmation.Description</p>
                }
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/pomo.js"></script>    
}
