:root {
    --blue: #4a5e8f;
    --off-white: #bfcce0;
}

body {
    background-color: var(--blue);
}

text, h1, h2, h3, h4, h5, h6 {
    color: white;
}

.card {
    background-color: var(--blue);
}


button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

.button-unselected {
    background-color: var(--blue);
}

.button-selected {
    background-color: black;
}

.start-button {
    background-color: white;
    color: var(--blue);
}

timer {
    color: white;
    font-size: 72px;
}

.button-counter {
    background-color: var(--blue);
    font-size: medium;
    border:thin;
}